name: Hello Workflow
on: 
  push:
  pull_request:

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Echo
        run: echo "Hello!"

  fail-job:
    runs-on: ubuntu-latest
    steps:
      - name: Fail on purpose
        run: exit 1

