name: Hello Workflow
on: 
  push:
  pull_request:

jobs:
  say-hello:
    runs-on: ubuntu-latest  
    steps:
      - uses: actions/checkout@v6
      - name: Print Hello
        run: echo "Hello from GitHub Actions with checkout!"
